body{
	background-color: orange;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}
#board{
	background-color:	lightgray;
	border-bottom: 1px solid black;
}
p{
	text-align: center;
	font-weight: bold;
}